{#
/**
 * @file
 * Default theme implementation for a summary of a webform entity reference owner handler.
 *
 * Available variables:
 * - settings: The current configuration for the entity reference owner handler.
 * - handler: The entity reference owner handler.
 *
 * @ingroup themeable
 */
#}

<b>{{ 'Element:'|t }}</b> {{ settings.element_key }}<br />
<b>{{ 'Default owner:'|t }}</b> {{ settings.default_uid }}<br />
